@{
    ViewBag.Title = "Events Demo";
}

<div class="jumbotron">
    <h1>Events Control Demo</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div>
</div>